:root {
  /*Fonts*/
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /*Text colors*/
  --main-txt-cl: #757575;
  --secondary-txt-color: #212121;
  --accent-txt-cl: #2196f3;
  /*BG colors */
  --dark-bg-cl: #2f303a;
  --light-bg-cl: #ffffff;
  --gray-bg-cl: #f5f4fa;
  /*Others */
}
body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
}
/*Кeset styles*/
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
/*Header section*/
.logo-link {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-txt-cl);
}
.logo-accent {
  color: #000000;
}
